<div class="public-foot" style="font-size:14px;line-height:1;">
    <div class="btn-foot">
        <p class="logo-ft"></p>
        <p class="purpose purpose-size">护士家园 — 以慈善助力为初心，诚挚服务为宗旨。</p>
        <p class="purpose">是关爱：陪伴护士成长的温馨家园；是涵养：共创白衣精神的沃土良园；是分享：展示护士风采的交流平台。</p>
    </div>
    <div class="foot-nav">
        <p class="foot-img">
            <img src="__PUBLIC__/pc/images/wxcode.jpg" >
        </p>
        <ul>
            <li><a target="_blank" href="{:U('Public/about')}">关于我们</a></li>
            <li><a href="#">慈善基金</a></li>
            <li><a href="#">商务合作</a></li>
            <li><a href="#">人才招聘</a></li>
        </ul>
        <p class="foot-tel">
            <span>四川护博医疗科技有限公司</span>
            <span>电话：{:get_config('WEB_SITE_TEL')}</span>
        </p>
        <p class="foot-addr">
            <span>地址：{:get_config('WEB_SITE_ADDR')}</span>
            <span>邮箱：{:get_config('WEB_SITE_EMAILE')}</span>
        </p>
        <p class="foot-records">{:get_config('WEB_SITE_COPYRIGHT')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{:get_config('WEB_SITE_ICP')}  </p>
    </div>
</div>