<extend name="Public:base" />

<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/login.css?v={:time()}" />
</block>

<block name="boby">
    <div class="login regist_wx">
        <div class="title">{$info.title}</div>
        <div class="content">      
           <div class="form regist_f">
                <p id="login_container"></p>           
           </div>                
        </div>
    </div>
</block>

<block name="script">
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<script type="text/javascript">
    $(function(){
      var thisUrl = encodeURIComponent("__SELF__");
      var obj = new WxLogin({ 
          id: "login_container", 
          appid: "wx3e330ada3765df67", 
          scope: "snsapi_login", 
          redirect_uri: encodeURIComponent("http://chinanursecare.cn/Home/Public/getWxInfo/?thisUrl="+thisUrl), 
          state: Math.ceil(Math.random()*1000), 
          style: "black", 
          href: ""
      });
    });
</script>
</block>