<extend name="Public:base" />
<block name="style">
    <title>{$info.title}</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/login.css?v={:time()}" />
</block>

<block name="boby">
    <div class="login regist">
        <div class="title">{$info.title}</div>
        <div class="content">      
           <div class="form regist_f">
               <form action="" method="post" accept-charset="utf-8">
                   <p class="input_w">
                        <span class="userImg"></span>
                        <input type="text" name="mobile" placeholder="手机号">
                    </p>                       
                   <p class="input_w">
                        <span class="pswImg"></span>
                        <input type="password" name="password" placeholder="密码">
                    </p>                           
                    <p class="input_w">
                        <span class="pswImg"></span>
                        <input type="password" name="surepsw" placeholder="确认密码">
                    </p>                         
                    <p class="input_w verfiy">
                        <span class="pswImg"></span>
                        <input type="text" name="sms_code" class="verfiyInput" placeholder="请输入验证码">
                    </p>
                    <input type="button" name="verfiybtn" id="sendSmsBtn" class="verfiyCode" value="获取验证码">

                   <p class="btn_ loginBtn"><input type="button" name="submit" id="regBtn" value="注册" class="input_base"></p>
                   <p class="agree"><label for="ck_agree"><input style="display: none" checked="checked" id="ck_agree"  type="checkbox" name="agreement" value=""><span>注册表示同意</span></label><a href="javascript:;" class="agreement">《用户协议》</a></p>
                   <p class="return_login"><a href="__CONTROLLER__/login">返回登录</a></password>
               </form>            
           </div>                
        </div>
        <div class="bg_"></div><div class="tips"><span></span></div>
        <div class="open_fo">
            <p class="open_close">&times;</p>
            <br>
            <div class="open_con">
                {$agreement.content|htmlspecialchars_decode}
            </div>
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript">
    $(function(){
        $('input[name=mobile]').focus(function(){
            $(this).parent().css('border','1px solid #11BFAF');
            $(this).prev().css('background-position','0px 0px');
        });
        $('input[name=password],input[name=surepsw]').focus(function(){
            $(this).parent().css('border','1px solid #11BFAF');
            $(this).prev().css('background-position','-24px 0px');
        });
        $('input[name=mobile]').blur(function(){
            $(this).parent().css('border','1px solid #E5E5E5');
            $(this).prev().css('background-position','0px 24px');
        });                         
        $('input[name=password],input[name=surepsw]').blur(function(){
            $(this).parent().css('border','1px solid #E5E5E5');
            $(this).prev().css('background-position','-24px -24px');
        });             
        $('input[name=sms_code]').focus(function(){
            $(this).parent().css('border','1px solid #11BFAF');
            $(this).prev().css('background-position','-48px 0px');
        });
        $('input[name=sms_code]').blur(function(){
            $(this).parent().css('border','1px solid #E5E5E5');
            $(this).prev().css('background-position','-48px -24px');
        });
        $('.agreement').click(function(){
            $('.bg_,.open_fo').fadeIn();
        });
        $('.open_close').click(function(){
            $('.bg_,.open_fo').hide();
        });        
    });
    function isNull(data){ 
        return (data == "" || data == undefined || data == null || data == 0) ? true : false; 
    }
    function tips(data,sts){
        $('.tips span').css('background-color','#11BFAF');
        if(sts==2){
            $('.tips span').css('background-color','red');
        }
        $('.tips span').text(data);
        $('.tips,.bg_').fadeIn().delay(1000).fadeOut();
    }
</script>
<script type="text/javascript">
    $(function(){
        wait_=60;
        // input

        
        // mobileInput.on('input', function(){
        //     if(this.value.length == 11){
        //         sendSmsBtn.css('background-color', '#11bfaf');
        //     }else{
        //         sendSmsBtn.css('background-color', '#CBF2F0');
        //     }
        // });
        
        $('input[name=sms_code]').on('input', function(){
            if(this.value.length == 6){
                $('#regBtn').attr('disabled', false);
            }else{
                $('#regBtn').attr('disabled', true);
            }
        });
        $('#regBtn').click(function(){
            var mobileInput  = $('input[name=mobile]');
            var smsCodeInput = $('input[name=sms_code]');
            var password = $('input[name=password]');
            var surepsw = $('input[name=surepsw]');
            var sendSmsBtn = $('#sendSmsBtn');
            var regBtn = $('#regBtn');
            var isAgree = $('input[name=agreement]')[0].checked; 
            var pwdReg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/;
            if(isNull(mobileInput.val()) || mobileInput.val().length != 11){
                tips('请输入正确的手机号',2);
                return false;
            }
            if(isNull(password.val())){
                tips('请输入密码',2);
                return false;
            } 
            if(!pwdReg.test(password.val())){
                tips('请输入6-16位密码（限字母+数字组合）',2);
                return false;                
            }                       
            if(isNull(surepsw.val())){
                tips('请确认密码',2);
                return false;
            }
            if(password.val()!=surepsw.val()){
                tips('两次密码不相同',2);
                return false;                
            }        
            if(isNull(smsCodeInput.val())){
                tips('请输入验证码',2);
                return false;
            }
            if(isAgree){
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    data:{'mobile':mobileInput.val(),'sms_code':smsCodeInput.val(),'psw':password.val(),'surepsw':surepsw.val()},
                    url: '__MODULE__/Public/register',
                    success: function (data) {
                        tips(data.info);
                        if(data.status == 1){
                            setTimeout("skip()",1500);
                        }
                    }, 
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        tips('请勿重复提交！',2);
                    }
                });               
            }else{
                tips('请阅读及同意用户协议',2);
                return false;                
            }
        });
        // agreeInput.on('change', function(){
        //  if(agreeInput[0].checked && smsCodeInput.val().length){
        //      regBtn.attr('disabled', false);
        //  }else{
        //      regBtn.attr('disabled', true);
        //  }
        // });
        
        // 发送验证码
        $('#sendSmsBtn').on('click', function(){
            var moble_ = $('input[name=mobile]').val();
            if(isNull(moble_) || moble_.length != 11){
                tips('请输入正确的手机号',2);
                return false;
            }            
            $.get('{:U("Api/Sms/reg")}', {'mobile':moble_}, function(result){
                if(!result.status){
                    tips(result.info,2);
                }
                time();
            });
        });
    });
    function skip(){
        window.location.href="__MODULE__/User/manager?oper=auth";
    }    
    function time() {
        var obj = document.getElementById("sendSmsBtn");  
        if (wait_ == 0) {  
            obj.removeAttribute("disabled");            
            obj.value="获取验证码";  
            wait_ = 60; 
        } else {
            obj.setAttribute("disabled", true);  
            obj.value="重新发送(" + wait_ + ")";  
            wait_--;  
            setTimeout(function() {  
                time()  
            },  
            1000)  
        }  
    }
</script>
</block>