<extend name="User:public" />
<block name="title">
	<title>我的问答</title>
</block>
<block name="style">
	<link rel="stylesheet" href="__PUBLIC__/pc/css/answer.css?v={:time()}" />
</block>
<block name="member">
	<div class="answer">
		<div class="m_head">我的提问</div>
		<div class="content">
			<div class="answer_subnav">
				<ul>
					<li class="<eq name='Think.ACTION_NAME' value='ask'>cur</eq> <neq name='unread.ask' value='0'>msg</neq>"><a href="{:U('ask')}">我的提问<neq name='unread.ask' value='0'>({$unread.ask})</neq></a></li>
					<li class="<eq name='Think.ACTION_NAME' value='answer'>cur</eq> <neq name='unread.answer' value='0'>msg</neq>"><a href="{:U('answer')}">我的回答<neq name='unread.answer' value='0'>({$unread.answer})</neq></a></li>
				</ul>
				<p>累积提问:{$anser_count.ask}，回答:{$anser_count.answer}，有用:{$anser_count.useful}，被采纳:{$anser_count.adopted}</p>
			</div>
			<div>
				<ul class="ask_list">
					<volist name="data" id="vo">
					<li>
						<a class="ctegory_tag" href="{:U('Answer/category?category_id='.$vo[category_id])}">{$vo.category_name}</a>
						<h3><a href="{:U('Answer/dtl?id='.$vo[id])}">{$vo.title}</a></h3>
						<p class="thumb"><a href="{:U('Answer/dtl?id='.$vo[id])}"><volist name='vo.media' id='m'><img src="{$m}"></volist></a></p>
						<div>
							<span class="hits">{$vo.hits}</span>
							<a class="replies" href="{:U('Answer/dtl?id='.$vo[id])}#reply">{$vo.reply_count}</a>
							<neq name="vo.unread_count" value="0"><span class="unread">+{$vo.unread_count}</span></neq>
							<time>{$vo.create_time|strtotime|date='Y-m-d',###}</time><a class="user" href="#"><img src="{$user_info.avatar}">{$user_info.nickname}</a>
						</div>
					</li>
					</volist>
				</ul>
			</div>
			<ul class="page">
				{$page}
			</ul>
		</div>
	</div>
</block>
<block name="script">
</block>