<extend name="User:public" />
<block name="title">
	<title>我的订阅</title>
</block>
<block name="style">
	<link rel="stylesheet" href="__PUBLIC__/pc/css/article.css" />
	<!--<link rel="stylesheet" href="__PUBLIC__/pc/css/index.css" />-->
</block>
<block name="member">

		<div class="member_right">
			<p class="member_right_title"> 我的订阅</p>
			<div class="content">
				<ul class="classify mysubsrcibe">
					<a href="{:U()}">
						<li class="active">订阅消息<span></span></li>
					</a>
					<a href="{:U('subpeople')}">
						<li >我订阅的人({$from_user_id})<span></span></li>
					</a>
					<a href="{:U('mysubsrcibe')}">
						<li >我的粉丝({$to_user_id|default=0})<span></span></li>
					</a>
				</ul>
				<div class="hot-content">


					<ul class="hot-ul">
						<if condition="!$list">
							<p class="list-not">暂无订阅!</p>
						</if>
						<volist name="list" id="vo">
							<li class="one-hot-li">
								<!--文字多图-->
								<php>$cover_arr = explode(',', $vo['cover_media_ids']);</php>
								<a  target="_blank" href="{:U('Detail/index', array('id'=>$vo['article_id']))}">
									<img class="one-hot-img" src="{$cover_arr[0]|get_cover}" />
									</a>
								<div class="">
									<p class="hot-title"><a target="_blank" href="{:U('Detail/index', array('id'=>$vo['article_id']))}">{$vo.title}</a></p>
									<p class="hot-intro">{:get_str($vo['digest'],0,50)}</p>
                                <span class="hot-message">
                                    <a href="javascript:void(0);">{:get_category_info($vo['category_id'],'title')}</a>
                                </span>
                                <span class="hot-name">
                                        <a target="_blank" href="{:U('Other/index', array('uid' => $vo['user_id']))}">
											<img src="{:get_user_info($vo['user_id'], 'avatar')}" alt="avatar">{:get_user_info($vo['user_id'], 'nickname')}
										</a>
                                    </span>
									<span class="hot-time">{$vo['post_time']|time_tran=###,"Y-m-d"}</span>
									<div class="hot-zhan">
										<span class="look"><a href="javascript:void(0);"><img src="__PUBLIC__/pc/images/look.png"></a>{$vo.view_num}</span>
										<span class="xin"><a href="javascript:void(0);"><img src="__PUBLIC__/pc/images/xin.png"></a>{$vo.collect_num}</span>
										<span class="comment"><a href="javascript:void(0);"><img src="__PUBLIC__/pc/images/sn.png"></a>{$vo.comment_num}</span>
										<span class="zan"><a href="javascript:void(0);"><img src="__PUBLIC__/pc/images/zan_pre.png"></a>{$vo.like_num}</span>
									</div>
								</div>

							</li>
						</volist>
					</ul>
					<ul class="page">
						{$page}
					</ul>
				</div>
			</div>
		</div>

</block>
<block name="script">
	<script type="text/javascript">
		$(".status-nav a").click(function () {

			var id=$(this).attr("data-id");
			$.ajax({
				type: "post",
				dataType: "json",
				data:{"is_pass":id},
				url: "{:U(ajax_article)}",
				success: function (data) {
					if(data.status==200){
//                    console.log($(this))

						$(".hot-ul").html(data.data);

					}else {
						alert("请稍后再试");
					}
				}

			})
			$(".btn-active").removeClass("btn-active");
			$(this).addClass("btn-active");
		})
	</script>
</block>
