<html lang="zh-cmn-Hans">

<head>
    <meta  content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" >

    <link rel="stylesheet" href="__PUBLIC__/pc/css/reset.css" />
    <link rel="stylesheet" href="__PUBLIC__/pc/css/member.css" />
    <link rel="shortcut icon" href="__PUBLIC__/pc/images/logo.ioc" type="image/x-icon">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <block name="title"></block>
    <script type="text/javascript" src="__PUBLIC__/pc/js/jquery-2.1.0.js"></script>
    <block name="style"></block>
</head>

<body>
<block name="head" >
    <div class="head-block-fixed">
        <div class="head-block">
            <div class="head">
                <div class="head-left">
                    <a href="{:U('Index/index')}" ><i class="logo"></i></a>
                    <ul class="nav">
                        <!--<li class="active"><a href="{:U('Index/index')}" >首页</a></li>-->
                        <!--<li><a href="index.html">问答</a></li>-->
                        <!--<li><a href="index.html">学习</a></li>-->
                        <!--<li><a href="index.html">活动</a></li>-->
                        <!--<li><a href="index.html">工具</a></li>-->
                        <!--<li><a href="index.html">社区</a></li>-->
                    </ul>
                </div>
                <div>
                    <if condition="empty($userInfo['avatar'])">
                        <div class="size-login">
                            <a href="{:U('Public/login')}">登录</a>&nbsp;/
                            <a href="{:U('Public/register')}">注册</a>
                        </div>
                        <else/>
                        <div class="head-right">
                            <a href="javascript:void(0);"><img class="portrait" src="{$userInfo.avatar}"></a>
                            <!--<p class="news"><span>10</span></p>-->
                            <ul class="question">
                                <a href="{:U('User/index')}"><li>个人中心</li></a>
                                <a href="{:U('User/message')}"><li>我的信息</li></a>
                                <a href="{:U('User/subscribe')}"><li>我的订阅</li></a>
                                <!--<a href="{:U('User/answer')}"><li>我的回答</li></a>-->
                                <a href="{:U('User/mycollect')}"><li>我的收藏</li></a>
                                <a href="{:U('User/myhb')}"><li>我的H币</li></a>

                                <a href="{:U('Article/myarticle')}"><li>我的发布</li></a>
                                <a href="{:U('User/addr')}"><li>我的地址</li></a>
                                <a href="{:U('User/manager')}"><li>账号管理</li></a>
                                <a href="{:U('Public/logout')}"><li>退出登录</li></a>
                            </ul>
                        </div>
                    </if>


                </div>
            </div>
        </div>
    </div>
</block>
<block name="title">

</block>
<block name="style">


</block>

    <div class="member">
        <img class="member_banner" src="__PUBLIC__/pc/images/banner_1.png">
        <div class="member_left">
            <div class="head_portrait">
                <img class="head_portrait_pic" src="{$user.avatar}">
                <p class="name">{$user.nickname}</p>
	            <span class="attestation">
	            <switch name="user.is_auth">
                    <case value="0">未认证</case>
                    <case value="1">认证中</case>
                    <case value="2">已认证</case>
                    <default />
                </switch>
	            </span>
                <p class="clear">
                    <switch name="isSubscribe">
                        <case value="0"><a href="javascript:void(0);" data-id="0" class="subscibe">订阅</a></case>
                        <case value="1"><a href="javascript:void(0);" data-id="1" class="subscibe">已订阅</a></case>
                        <default />
                    </switch>

                </p>
            </div>
            <ul class="member_nav">
                <a href="{:U('index', array('uid'=>I('get.uid')))}"><li <if condition="ACTION_NAME eq 'index' "> class="active" </if>  ><span></span>Ta的主页</li></a>
                <a href="{:U('comment', array('uid'=>I('get.uid')))}"><li <if condition="ACTION_NAME eq 'comment' "> class="active" </if> ><span></span>Ta的收藏({$collect})</li></a>
                <!--<a href="{:U('answer', array('uid'=>I('get.uid')))}"><li <if condition="ACTION_NAME eq 'answer'"> class="active" </if> ><span></span>Ta的回答({$answer_count})</li></a>-->
                <a href="{:U('article', array('uid'=>I('get.uid')))}"><li <if condition="ACTION_NAME eq 'article' "> class="active" </if> ><span></span>Ta的投稿({$tougao})</li></a>
                <a href="{:U('subscribe', array('uid'=>I('get.uid')))}"><li <if condition="ACTION_NAME eq 'subscribe' "> class="active" </if> ><span></span>Ta的订阅({$dingyue})</li></a>

            </ul>
        </div>
        <block name="member"></block>
        </div>      
<div class="public-foot">
    <div class="btn-foot">
        <p class="logo-ft"></p>
        <p class="purpose">护士家园 — 以慈善助力为初心，诚挚服务为宗旨。</p>
        <p class="purpose">是关爱：陪伴护士成长的温馨家园；是涵养：共创白衣精神的沃土良园；是分享：展示护士风采的交流平台。</p>
    </div>
    <div class="foot-nav">
        <p class="foot-img">
            <img src="__PUBLIC__/pc/images/wxcode.jpg" >
            <script src="http://www.bcpcn.com/bcptags/05530840.js?v=1.0"></script>
        </p>
        <ul>
            <li><a target="_blank" href="{:U('Public/about')}">关于我们</a></li>
            <li><a href="#">慈善基金</a></li>
            <li><a href="#">商务合作</a></li>
            <li><a href="#">人才招聘</a></li>
        </ul>
        <p class="foot-tel">
            <span>四川护博医疗科技有限公司</span>
            <span>电话：{:get_config('WEB_SITE_TEL')}</span>
        </p>
        <p class="foot-addr">
            <span>地址：{:get_config('WEB_SITE_ADDR')}</span>
            <span>邮箱：{:get_config('WEB_SITE_EMAILE')}</span>
        </p>
        <p class="foot-records">{:get_config('WEB_SITE_COPYRIGHT')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{:get_config('WEB_SITE_ICP')}  </p>
    </div>
</div>
<div class="give-reward">
    <div class="give-reward-btn">
        <p class="reward-title">打赏H币（从自己账户扣除）</p>
        <input type="number" class="reward-number"  value="" placeholder="输入大于0的整数" >
        <p class="affirm-reward">打赏给TA</p>
        <p class="give-reward_close">&times;</p>
    </div>
</div>
    <div class="popup-login">
    <div class="login">
        <p class="open_close">&times;</p>
        <div class="content">
           <table border="0" cellpadding="0" cellspacing="0" width="100%">
               <tr>
                   <td class="cut_s">扫码登录<span class="active"></span></td>
                   <td class="cut_u">账号登录<span></span></td>
               </tr>
           </table>        
            <div class="login_u">
               <div class="form">
                   <form action="" method="post" accept-charset="utf-8">
                       <p class="input_w">
                            <span class="userImg"></span>
                            <input type="text" name="username" placeholder="手机号">
                        </p>
                       <p class="input_w">
                            <span class="pswImg"></span>
                            <input type="password" name="password" placeholder="密码">
                        </p>
                       <p class="forget"><a href="{:U('Public/retrieve')}">忘记密码？</a></p>
                       <p class="btn_ loginBtn"><input type="button" name="submit" value="登录" class="input_base"></p>
                       <p class="btn_ registBtn"><a href="__MODULE__/Public/register"><input type="button" name="regist" value="注册" class="input_base"></a></p>
                   </form>
                   <p class="ta">第三方登录</p>
                   <p class="wxBtn"><a href="javascript:;"></a></p>               
               </div>                
            </div>
            <div class="login_s">
                <p id="login_container" style="margin-top: -30px"></p>
                <!-- <p><span>打开微信，扫描二维码登录</span></p> -->
            </div>
        </div>      
    </div>
    </div>
<div class="bg_"></div>
<div class="tips"><span></span></div>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<script type="text/javascript">
    function getWxCode(){
      var thisUrl = encodeURIComponent("__SELF__");
      var obj = new WxLogin({ 
          id: "login_container", 
          appid: "wx3e330ada3765df67", 
          scope: "snsapi_login", 
          redirect_uri: encodeURIComponent("http://chinanursecare.cn/Home/Public/getWxInfo/?thisUrl="+thisUrl), 
          state: Math.ceil(Math.random()*1000), 
          style: "black", 
          href: ""
      });           
    }
</script>
<script>

    function tips(data){
        $('.tips span').text(data);
        $('.tips,.bg_').fadeIn().delay(1000).fadeOut();
    }
    $(".subscibe").click(function (){
        var uId = "{:I('get.uid')}";
        var status=$(this).attr("data-id");
        $.ajax({
            type: 'post',
            dataType: 'json',
            data:{'uid':uId,'status':status},
            url: '__CONTROLLER__/subscibe',
            success: function (data) {
                if(data.status==200){
                    if(status==0){
                        $(".subscibe").html('已订阅');
                        $(".subscibe").attr('data-id',1);
                    }else{
                        $(".subscibe").html('订阅');
                        $(".subscibe").attr('data-id',0);
                    }
                }else if(data.status==600){
                    login_w();
                    return false;
                }
                else{
                    tips(data.msg);
                    return false;
                }
            }
        })
    })
</script>
<script>
    $(".reward").click(function () {
        $.ajax({
            type: 'post',
            dataType: 'json',
            data:{},
            url: '__MODULE__/Other/login',
            success: function (data) {
                if(data==200){
                    $(".give-reward").show();
                }else{

                }
            },
        });

    });
    $(".give-reward_close").click(function () {
        $(".give-reward").hide();
    });
    $(".affirm-reward").click(function () {
        var number=$(".reward-number").val();
        var artId = "{:I('get.uid')}";
        $.ajax({
            type: 'post',
            dataType: 'json',
            data:{'number':number,'artId':artId},
            url: '__MODULE__/Other/reward',
            success: function (data) {
                if(data==true){
                    $(".give-reward").hide();
                    tips("打赏成功",2);
                }else{
                    tips(data,2);
                }
            },
        });
    })

    $(function(){
        $('.registBtn').click(function(){
            window.location.href='__MODULE__/Public/register'
        });
        document.onkeydown = function(e){
            if(!e) e = window.event;
            if((e.keyCode || e.which) == 13){
                if(!$('.login_u').is(':hidden')){
                    login();
                }                       
            }
        }
        $('.cut_s').click(function(){
            $(this).next().children('span').removeClass('active');
            $(this).children('span').addClass('active');
            $('.login_u').hide();
            $('.login_s').show();
        });
        $('.cut_u').click(function(){
            $(this).prev().children('span').removeClass('active');
            $(this).children('span').addClass('active');
            $('.login_s').hide();
            $('.login_u').show();
        });
        $('input[name=username]').focus(function(){
            $(this).parent().css('border','1px solid #11BFAF');
            $(this).prev().css('background-position','0px 0px');
        });
        $('input[name=password]').focus(function(){
            $(this).parent().css('border','1px solid #11BFAF');
            $(this).prev().css('background-position','-24px 0px');
        });
        $('input[name=username]').blur(function(){
            $(this).parent().css('border','1px solid #E5E5E5');
            $(this).prev().css('background-position','0px 24px');
        });
        $('input[name=password]').blur(function(){
            $(this).parent().css('border','1px solid #E5E5E5');
            $(this).prev().css('background-position','-24px -24px');
        });
        $('input[name=submit]').click(function(){
            login();
        });
        function login(){
            var mobile = $('input[name=username]').val();
            var psw = $('input[name=password]').val();
            var re_url = '{$re_url}';
            if(isNull(mobile)||mobile.length != 11){
                tips('请输入正确手机号码',2);
                return false;
            }
            if(isNull(psw)){
                tips('请输入密码',2);
                return false;
            }
            $.ajax({
                type: 'post',
                dataType: 'json',
                data:{'mobile':mobile,'psw':psw,'re_url':re_url,},
                url: '__MODULE__/Public/login',
                success: function (data) {
                    if(data.status == 1){
                        tips(data.info);
                        setTimeout('window.location.reload()',1000);
                    }else{
                        tips(data.info,2);
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    tips('请勿重复提交！',2);
                }
            });
        }
    });
    function isNull(data){
        return (data == "" || data == undefined || data == null || data == 0) ? true : false;
    }
    function login_w(){
        $('.bg_,.login').fadeIn();
        getWxCode();
    }
    $('.open_close').click(function(){
        $('.bg_,.login').fadeOut();
    });
    $(".reward").click(function () {
        $.ajax({
            type: 'post',
            dataType: 'json',
            data:{},
            url: '__MODULE__/Detail/login',
            success: function (data) {
                if(data==200){
                    $(".give-reward").show();
                }else{
                    login_w();
                }
            },
        });

    });
    //    下面代码只适用于平板点击出现下拉
    $(".portrait").click(function () {
        var isHover= $("ul").is('.isQuestion');
        if(isHover){
            $(".question").removeClass("isQuestion");
        }else{
            $(".question").addClass("isQuestion");
        }
    });
</script>
<block name="script"></block>
</body>

</html>
