<div class="qq" style="display: block;position: relative;width: 375px;height: 600px;">
    <div class="qq-top">
        <div class="qq-top-icon">
            <i><img src="__PUBLIC__/desktop/images/qq-top.png"></i>
            <span class="qq-top-02 close"><img src="__PUBLIC__/desktop/images/qq-top-02.png"></span>
            <span class="qq-top-01 min"><img src="__PUBLIC__/desktop/images/qq-top-01.png"></span>
        </div>
        <div class="qq-top-name">
            <span>小木偶的心</span>
            <dl><dd><img src="__PUBLIC__/desktop/images/zai.png"></dd><dt><img src="__PUBLIC__/desktop/images/lv.png"></dt><dt><img src="__PUBLIC__/desktop/images/svip.png"></dt></dl>
        </div>
        <div class="qq-top-shuo"><input type="text" value="这两天空间被各种婚礼刷屏了"></div>
        <div class="qq-top-menu">
            <ul>
                <li></li><li></li><li></li><li></li>
            </ul>
            <span class="qq-top-001"></span>
            <span class="qq-top-002"></span>
        </div>
        <div class="qq-serch">搜索：联系人、讨论组、群、企业</div>
    </div>
    <div class="qq-xuan">
        <ul>
            <li class="qq-xuan-li"><span></span><i></i></li>
            <li><span></span><i></i></li>
            <li><span></span><i></i></li>
            <li><span></span><i></i></li>
        </ul>
    </div>
    <div class="qq-hui">
        <ul>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/01.jpg"><i></i></div>
                <div class="qq-hui-name"><span>室外摄影大师</span><i>16:30</i></div>
                <div class="qq-hui-txt" title="">下次我们去公园拍摄吧~[图片]</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/02.jpg"><i></i></div>
                <div class="qq-hui-name"><span class="red">尛伊_6th空白</span><i>16:29</i></div>
                <div class="qq-hui-txt" title="">后天上午十点钟有漫展哦~我有门票你去么[图片]</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/03.jpg"><i></i></div>
                <div class="qq-hui-name"><span>一粒沙~白</span><i>16:29</i></div>
                <div class="qq-hui-txt" title="">[图片]怎么样看起来好吃吧</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/04.jpg"><i></i></div>
                <div class="qq-hui-name"><span class="red">彡分钟丶热°</span><i>16:26</i></div>
                <div class="qq-hui-txt" title="">恩 拜~</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/05.jpg"><i></i></div>
                <div class="qq-hui-name"><span class="red">二次元灬小埋酱</span><i>16:24</i></div>
                <div class="qq-hui-txt" title="">欧尼酱 >~< 下次带我去吃好吃的好不好嘛</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/06.jpg"><i></i></div>
                <div class="qq-hui-name"><span>爱思考的逗比</span><i>16:21</i></div>
                <div class="qq-hui-txt" title="">[图片]这个公式我算了一天终于算出来了</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/07.jpg"><i></i></div>
                <div class="qq-hui-name"><span>二货青年欢乐多</span><i>16:21</i></div>
                <div class="qq-hui-txt" title="">今天我踢了我前面的同学一脚、被他狠狠地</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/08.jpg"><i></i></div>
                <div class="qq-hui-name"><span>喵喵喵喵~喵星人</span><i>16:21</i></div>
                <div class="qq-hui-txt" title="">屁颠屁颠卖萌喵星人驾到、愚蠢的地球人</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/01.jpg"><i></i></div>
                <div class="qq-hui-name"><span>室外摄影大师</span><i>16:30</i></div>
                <div class="qq-hui-txt" title="">下次我们去公园拍摄吧~[图片]</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/02.jpg"><i></i></div>
                <div class="qq-hui-name"><span class="red">尛伊_6th空白</span><i>16:29</i></div>
                <div class="qq-hui-txt" title="">后天上午十点钟有漫展哦~我有门票你去么[图片]</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/03.jpg"><i></i></div>
                <div class="qq-hui-name"><span>一粒沙~白</span><i>16:29</i></div>
                <div class="qq-hui-txt" title="">[图片]怎么样看起来好吃吧</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/04.jpg"><i></i></div>
                <div class="qq-hui-name"><span class="red">彡分钟丶热°</span><i>16:26</i></div>
                <div class="qq-hui-txt" title="">恩 拜~</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/05.jpg"><i></i></div>
                <div class="qq-hui-name"><span class="red">二次元灬小埋酱</span><i>16:24</i></div>
                <div class="qq-hui-txt" title="">欧尼酱 >~< 下次带我去吃好吃的好不好嘛</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/06.jpg"><i></i></div>
                <div class="qq-hui-name"><span>爱思考的逗比</span><i>16:21</i></div>
                <div class="qq-hui-txt" title="">[图片]这个公式我算了一天终于算出来了</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/07.jpg"><i></i></div>
                <div class="qq-hui-name"><span>二货青年欢乐多</span><i>16:21</i></div>
                <div class="qq-hui-txt" title="">今天我踢了我前面的同学一脚、被他狠狠地</div>
            </li>
            <li>
                <div class="qq-hui-img"><img src="__PUBLIC__/desktop/images/head/08.jpg"><i></i></div>
                <div class="qq-hui-name"><span>喵喵喵喵~喵星人</span><i>16:21</i></div>
                <div class="qq-hui-txt" title="">屁颠屁颠卖萌喵星人驾到、愚蠢的地球人</div>
            </li>
        </ul>
    </div>
    <div class="qq-bot">
        <div class="qq-menu">
            <ul>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/01.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/02.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/03.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/04.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/05.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/06.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/07.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/08.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/09.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/10.png"></li>
            </ul>
        </div>
        <div class="qq-bou-she">
            <ul>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/11.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/12.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/13.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/14.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/15.png"></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/16.png"><span>查找</span></li>
                <li><img src="__PUBLIC__/desktop/images/bot-menu/05.png"><span>应用宝</span></li>
            </ul>
        </div>
    </div>
</div>